{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if session.user %}
    <a class="action" href="{{ url_for('notes.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for note in notes %}
    <article class="note">
      <header>
        <div>
          <h1>{{ note['title'] }}</h1>
          <h1>{{ note['id'] }}</h1>
          <div class="about">by {{ note['username'] }} on {{ note['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if session and note['author_id'] == session.get("user").get("userinfo").get("sub")%}
          <a class="action" href="{{ url_for('notes.update', id=note['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ note['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% endblock %}